/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

.page-title {
	margin-bottom: 30px;
	text-align: center;
}

/* provides a margin to all headers in placeholder pages */
.placeholder-title {
	margin-left: 20px;
}

body { 
    padding-top: 65px; /* To make sure the nav doesn't cover the content */  
}

.add {
	right: 5%;
	bottom: 5%;
	position: fixed;
}
.back {
	position:fixed;
	bottom:4%;
	left: 5%;
}
/*login page layout */ 
#login_center{ /*login text in the navbar */
	width: 100%;
	margin:auto;
	margin-top: 5%;
	text-align: center;
	font-family: Lato;
	font-size: 20px;
	list-style-type: none;
	> li {
		float: none;
		list-style-type: none;
		display: inline-block;
	}
}

#login_page {
	margin: auto;
	margin-top: 30%;
}

#login_id {
	margin:auto;
	margin-top: 10%;
}

#login_pw {
	margin:auto;
	margin-top: 5%;
	padding-bottom: 10%;
}

#enter_btn {
	margin: auto;
	padding-top: 10%;
}
/* end of login page css */


.col-xs-4 span {
	margin-left: 20px;
}
#recording_status {
	margin-left: 72px;
/*	width: 50%; */
}

#recording_time {
	margin-left: auto;
	padding-left: 100px;
}

#reminder_title {
	margin: auto;
	padding-left: 5px;
	padding-top: 5%;

}

#round_bookmark, #round_camera {
	padding-top: 10px;
	margin-left:10px;
	padding-top:5%;
}

#the_5th_row {
	margin: auto;
	margin-top: 10px;
	padding-top:5%;
}

#mic_btn {
	padding-top:10px;
}

#recording_btn{
	position: relative;
	padding-left: 10%;
}

#done_btn {
	padding-top:15px;
}

